{{- $isStandalone := eq .Values.runtime "standalone" }}
{{/*
ConfigMap data content (used for checksum to trigger roll on config change).
*/}}
{{- define "accelerboat.configmapData" -}}
{
  "httpPort": {{ .Values.env.httpPort }},
  "httpsPort": {{ .Values.env.httpsPort }},
  "torrentPort": {{ .Values.env.torrentPort }},
  "logConfig": {
    "logDir": "{{ .Values.env.logDir }}",
    "logMaxSize": {{ .Values.env.logMaxSize }},
    "logMaxBackups": {{ .Values.env.logMaxBackups }},
    "logMaxAge": {{ .Values.env.logMaxAge }}
  },
  "storageConfig": {
    "downloadPath":  "{{ .Values.env.downloadPath }}",
    "torrentPath": "{{ .Values.env.torrentPath }}",
    "transferPath": "{{ .Values.env.transferPath }}",
    "smallFilePath": "{{ .Values.env.smallFilePath }}",
    "ociPath": "{{ .Values.env.ociPath }}",
    "eventFile": "{{ .Values.env.eventFile }}"
  },
  "cleanConfig": {
    "cron": "{{ .Values.env.cleanCron }}",
    "threshold": {{ .Values.env.cleanThreshold }},
    "retainDays": {{ .Values.env.cleanRetainDays }}
  },
  "serviceDiscovery": {
    "serviceNamespace": "{{ .Release.Namespace }}",
    "serviceName": "{{ include "accelerboat.fullname" . }}"
  },
  "preferConfig": {
    "masterIP": "{{ .Values.env.preferMasterIP }}",
    "preferNodes": {
      "labelSelectors": "{{ .Values.env.preferLabelSelectors }}"
    }
  },
  {{- if eq .Values.runtime "standalone" }}
  "enableContainerd": {{ .Values.env.enableContainerd }},
  {{- else }}
  "enableContainerd": false,
  {{- end }}
  "torrentConfig": {
    "enable": {{ .Values.env.enableTorrent }},
    "threshold": {{ .Values.env.torrentThreshold }},
    "uploadLimit": {{ .Values.env.torrentUploadLimit }},
    "downloadLimit": {{ .Values.env.torrentDownloadLimit }},
    "announce": "{{ tpl .Values.env.torrentAnnounce . }}"
  },
  "redisAddress": "{{ tpl .Values.env.redisAddress . }}",
  "redisPassword": "{{ .Values.env.redisPassword }}",
  "externalConfig": {
    "httpProxy": "{{ .Values.env.httpProxy }}",
    "builtInCerts": {{- toJson .Values.builtInCerts | nindent 4 }},
    "registryMappings": {{- toJson .Values.externalConfig.registryMappings | nindent 4 }}
  }
}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: accelerboat-config
  namespace: {{ .Release.Namespace }}
data:
  accelerboat.json: |
    {{- include "accelerboat.configmapData" . | nindent 4 }}

